## Different Ways to Create pandas dataframe

In [9]:
import pandas as pd

In [12]:
# using read_csv() function
csv_df = pd.read_csv('weather_data.csv')
csv_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [25]:
# using read_excel() function
excel_df = pd.read_excel('weather_data.xlsx' , 'Sheet2') # if sheet is not avilable it will take 1st sheet by default
excel_df

        date  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [15]:
# using dictionary
weather_data = {
    'day' :['2017-01-01' , '2017-01-02' , '2017-01-03'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event' : ['Rain' , 'Sunny' , 'Snow']
}
dict_df = pd.DataFrame(weather_data)
dict_df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [18]:
# using List of tuple , here we have to give the column names manually 
weather_data=[
    ('2017-01-01' , 32 , 6,'Rain'),
    ('2017-01-02' , 35 , 7 , 'Sunny'),
    ('2017-01-03', 28,2,'Snow')
]
weather_head=['day','temperature' , 'windspeed' , 'event']

tuple_df = pd.DataFrame(weather_data , columns=weather_head)
tuple_df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [19]:
# using List of dictinaries 

weather_data=[
    {'day':'2017-01-01' , 'temperature':32  , 'windspeed':6 , 'event':'Rain'},
    {'day':'2017-01-02' , 'temperature':35  , 'windspeed':7 , 'event':'Sunny'},
    {'day':'2017-01-03' , 'temperature':28  , 'windspeed':2 , 'event':'Snow'}
]

list_dict_df = pd.DataFrame(weather_data)
list_dict_df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow