In [1]:
import pandas as pd

In [22]:
stock_data = pd.read_excel('stock_data.xlsx' , 'Sheet1')
stock_data

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [20]:
stock_data.dtypes

tickers     object
eps         object
revenue    float64
price       object
people      object
dtype: object

In [2]:
# use converters to conversion

def eps_converters(cell):
    if isinstance(cell , ( int, float )  ) :
        if cell < 0: 
            return 0
        else:
            return cell 
    else:
        return 0

def revn_converters(cell):
     if isinstance(cell , ( int, float )  ) :
        if cell < 0: 
            return 0
        else:
            return cell 
     else:
        return 0
    
def ppl_converters(cell):
    if cell == 'n.a.':
        return 'Doug McMillon'
    return cell

def price_converters(cell):
    if isinstance(cell , ( int, float )  ) :
        if cell < 0: 
            return 0
        else:
            return cell 
    else:
        return 0


stock_data = pd.read_excel('stock_data.xlsx' , 'Sheet1' , converters= {
    'eps' : eps_converters , 
    'revenue' : revn_converters ,
    'people' : ppl_converters ,
    'price' : price_converters 
})

stock_data

  tickers    eps  revenue  price         people
0   GOOGL  27.82       87    845     larry page
1     WMT   4.61      484     65  Doug McMillon
2    MSFT   0.00       85     64     bill gates
3    RIL    0.00       50   1023  mukesh ambani
4    TATA   5.60        0      0     ratan tata

In [34]:
stock_data.to_excel('tr1_excel.xlsx' , sheet_name='cleaned_stock_data' , index=False , )

In [3]:
stock_eps_data = stock_data[ ['tickers' , 'eps' ] ]
stock_rvn_data = stock_data[ ['tickers' , 'revenue' ] ]
stock_price_data = stock_data[ ['tickers' , 'price' ] ]
# stock_eps_data

In [40]:
# write multiple tab in excel 
with pd.ExcelWriter('stock_summ.xlsx') as writer:
    stock_data.to_excel(writer, sheet_name='cleaned_stock_data' , index=False)
    stock_eps_data.to_excel(writer, sheet_name='stock_eps_data' , index=False)
    stock_rvn_data.to_excel(writer, sheet_name='stock_rvn_data' , index=False)
    stock_price_data.to_excel(writer, sheet_name='stock_price_data' , index=False)